/* ul list styles */
.custom-center-list {
    list-style-position: inside;
    text-align: center;
}

/* background image for about section */
.featured-text {
    background-image: url(../img/bg-about.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: -50px;
}

.featured-text {
    color: whitesmoke;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

#our-story {
    margin-top: 30px;
}

#thank-you {
    margin-bottom: 30px;
}

