body {
    background-color: #f0f4f8;
    min-height: 100vh;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.contact-section {
    height: 100vh;
}

.contact-form-container {
    background-color: #fdfdfd;
    border: 3px solid #0a2342;
    max-width: 500px;
    width: 100%;
}

.contact-form-container h2 {
    color: #0a2342;
    font-weight: 600;
}

.form-label {
    color: #0a2342;
    font-weight: 500;
}

.btn-dark-blue {
    background-color: #0a2342;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-dark-blue:hover {
    background-color: #133c6e;
}