/* Head-Wrapper */

.head-wrapper {
    position: relative;
    height: 340px;
    overflow: hidden;
}

.head-wrapper > .head-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

/* Head - Content */

.head-wrapper > .head-content {
    position: absolute;
}

.head-wrapper > .head-content > .about > h1 {
    background-color: #72491e;
    color: black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
}

.head-wrapper > .head-content > .about {
    padding-right: 20px;
}
/* Nav - Links */

.head-wrapper > .head-content > .nav-links a {
    width: 70px;
    text-align: center;
}

.head-wrapper > .head-content > .nav-links a {
    font-family: "Montserrat" , sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.head-wrapper > .head-content > .nav-links a:hover {
    color: black;
    letter-spacing: 2px;
}

.head-wrapper > .head-content > .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-wrapper > .head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Paragraph - Section */

.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    width: 1000px;
}

.page-container > .content-wrapper > #off-loading {
    width: 300px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: #72491e 2px solid;
}

p {
    letter-spacing: 1px;
    line-height: 30px;
}