@media (max-width: 600px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper > .center-column > .nav-logo {
        margin-left: -30px;
        size-adjust: 0.5;
    }

    .navigation-wrapper img {
        height: 250px;
        width: 250px;
    }

    .navigation-wrapper > .center-column > .est {
        margin-left: -30px;
    }

    .navigation-wrapper > .contact-address {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .hours {
        order: 3;
        margin-top: 15px;
        align-items: start;
        margin-left: 15px;
    }

    .navigation-wrapper > .center-column > .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .navigation-wrapper > .center-column > .nav-links {
        margin-top: -14px;
        margin-bottom: 37px;
        font-size: 1.5em;
        width: 100%;
        margin-left: -19px;
    }

    .delivery-wrapper {
        padding: 10px 0;
    }

    .hero-section {
        padding: 10px 10px;
        font-size: .6em;
        margin-bottom: -126px;
        padding-top: 35px;
    }

    /* About */

    .head-wrapper > .head-content {
        flex-direction: column;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper #off-loading {
        width: 100% !important;
        margin: 0px !important;
    }

    /* Product */

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .img-wrapper img {
        width: 45% !important;
        height: 50% !important;
        margin-left: 292px !important;
        margin-bottom: -100px !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .square > .square-text-wrapper {
        font-size: .8em !important;
        margin-left: 249px !important;
        margin-top: -100px !important;
        margin-bottom: -33px !important;
        width: 61% !important;
    }

    .square > .img-wrapper {
        order: 2;
    }

    /* Contact */

    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }

    /* Prices */

    .price-container > .price-wrapper > .price-text p {
        font-size: 0.7rem;
        align-items: center;
    }

    .price-container > .price-wrapper > .price-text p {
        margin-left: -70px !important;
        margin-right: -70px !important;
    }

    .price-container > .price-wrapper > .price-text p {
        padding: 10px;
    }

    .price-list-wrapper > .price-list img {
        width: 100% ;
        height: 100%;
    }

    .copyright {
        font-size: .60rem;
        margin-left: 10px;
    }
}