/* Column Grid */

.product-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.product-wrapper > .product > .square {
    width: 1000px;
}

.product-wrapper > .product > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}